/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

/*------------------------------------*\
    $MAIN
\*------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
	margin: 0 auto;
	width: 90%;
	max-width: 1240px;
	font-family: 'Roboto', sans-serif;
	background-color: #f6f6f6;
}

/* Typography */

h1 {
	font-size: 28px;
	font-weight: 300;
	flex: 1;
	text-align: center;
}

h2 {
	font-size: 22px;
	font-weight: 300;
	flex: 1;
}

h5 {
	font-weight: 500;
	line-height: 1.7em;
}

h6 {
	color: #666;
	font-size: 14px;
}

/* Product Layout */

.product-filter {
	display: flex;
	padding: 30px 0;
	position: relative;
	background-color: #f6f6f6;
    width: 100%;
    height: 100%;
}

.sort {
	display: flex;
	align-self: flex-end;
}

.collection-sort {
 display: flex;
	flex-direction: column;
}

.collection-sort:first-child {
	padding-right: 20px;
}

label {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	line-height: 2em;
	text-transform: uppercase;
}

.products {
	display: flex;
	flex-wrap: wrap;
}

.product-card {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	padding: 2%;
	flex: 1 16%;
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.product-image img {
	display: block;
	width: 100%;
	max-width: 300px;
	max-height: 300px;
	margin: 0px auto;
}

.product-info {
	margin-top: auto;
	padding-top: 20px;
	text-align: center;
}

#single-product {
	display: none;
	background-color: white;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.25);
	position: fixed;
	top: 5%;
	width: 90%;
	z-index: 1;
	max-width: 1200px;
}

.product-page-hide {
	padding-left: 95%; 
	color: #757575;
	font-size: 28px;
	font-weight: 300;
	flex: 1;	
}
.product-page-hide {
	cursor: pointer;
}

#addToCart {
	float: left;
    width: 50%;
    height: 64px;
    z-index: 1;
    cursor: pointer;
    background-color: #172C50;
}

#buyNow {
	float: right;
    width: 50%;
    height: 64px;
    z-index: 1;
    background-color: #601A50;
}

.product-buy-button {
	background-color: #601A50;
	z-index: 1;
    border: none;
    color: white;
    padding: 20px;
    width: 70%;
    font-size: 15px;
	display: inline-block;
    box-sizing: border-box;
    font-weight: 500;
    margin: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.order-confirmation {
	display: none;
	height: 10em;
	display: flex;
	align-items: center;
}

input {
	font-size: 1em;
    font-weight: 300;
    color: #202020;
    border: none;
    padding: 8px 0;
    outline: none;
    -webkit-appearance: textfield;
    background-color: white;
    width: 70%;    
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

@media ( max-width: 1240px ) {
	
	.product-card {
		flex: 2 46%;
	}
	
	
}

@media ( max-width: 900px ) {
	
	.product-card {
		flex: 1 46%;
	}
	
}

@media ( max-width: 600px ) {
	
	h1 {
		margin-bottom: 20px;
	}
	
	.product-filter {
		flex-direction: column;
	}
	
	.sort {
		align-self: flex-start;
	}
	
}

